<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ForecastServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Dm.WeatherForecast.Service.Wcf.Forecast.ForecastService" behaviorConfiguration="ForecastServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/ForecastService.svc" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="Dm.WeatherForecast.Service.Wcf.Contract.IForecastService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="DataAccessConnectionString" value="Data Source=WeatherForecast.db;" />
  </appSettings>
</configuration>